
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>Hello from our View Template!222</p>
<!DOCTYPE html>

<html>

<head>
    <title></title>
    <link rel="stylesheet" href="~/Content/bootstrap-datepicker.css" />
    <link rel="stylesheet" href="~/Content/bootstrap-datepicker.min.css"/>
</head>
<body>
	<form action="/api/Job/updateDownTxt" method="post">
		<div class='input-group date' id='datetimepicker1'>
			<input type='text' class="form-control" name="datetimepicker1" />
			<span class="input-group-addon">
				<span class="glyphicon glyphicon-calendar"></span>
			</span>
		</div>
		<div class="button">
			<button id="down" type="submit">다운로드하기</button>
		</div>
	</form>

	<form action="/api/Job/CloseUpdate" method="post">
		<div class='input-group date' id='datetimepicker1'>
			<input type='text' class="form-control" name="datetimepicker1" />
			<span class="input-group-addon">
				<span class="glyphicon glyphicon-calendar"></span>
			</span>
		</div>
		<div class="button">
			<button id="down" type="submit">목표버전닫기</button>
		</div>
	</form>

	<form action="/api/Job/CloseUpdate" method="post">
		<div class='input-group date' id='datetimepicker1'>
			<input type='text' class="form-control" name="datetimepicker1" />
			<span class="input-group-addon">
				<span class="glyphicon glyphicon-calendar"></span>
			</span>
		</div>
		<div class="button">
			<button id="down" type="submit">목표버전닫기</button>
		</div>
	</form>
</body>
</html>
@section scripts{
    <script src="~/Scripts/bootstrap-datepicker.js"></script>
    <script src="~/Scripts/bootstrap-datepicker.ko.js"></script>
    <script>
        $(document).ready(function () {
            $("#datetimepicker1").datepicker({
                format: 'yyyy-mm-dd',
                language: 'ko'
            }
            );
        });
    </script>
}