<!DOCTYPE html>

<html>

<head>
    <title></title>
    <link rel="stylesheet" href="~/Content/bootstrap-datepicker.css" />
    <link rel="stylesheet" href="~/Content/bootstrap-datepicker.min.css"/>
</head>
<body>
	<form action="/api/RedMine/updateDownTxt" method="post">
        <table>
            <tr>
                <th>
                    <label for="date">날짜선택하기</label>
                </th>
                <td>
                    <div class='input-group date' id='divdatetimepicker1'>
                        <input type='text' class="form-control" id="datetimepicker1" name="datetimepicker1" />
                        <span class="input-group-addon">
                            <span class="glyphicon glyphicon-calendar"></span>
                        </span>
                    </div>
                </td>
            </tr>
            <tr>
                <th>
                    <label for="id">아이디</label>
                </th>
                <td><input type="text" id="id" name="id" placeholder="아이디" /></td>
            </tr>
            <tr>
                <th>
                    <label for="pass">비밀번호</label>
                </th>
                <td><input type="password" id="pw" name="pw" placeholder="비밀번호" /></td>
            </tr>
            <tr>
                <td colspan="2">
                    <div class="button">
                        <button id="down" type="submit">다운로드하기</button>
                    </div>
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <div class="button">
                        <button id="versionUp" type="button">목표버전 넘기기</button>
                    </div>
                </td>
            </tr>
        </table>
	</form>
</body>
</html>
@section scripts{
	<script src="~/Scripts/redmine/redmine.js"></script>
    <script src="~/Scripts/bootstrap-datepicker.js"></script>
    <script src="~/Scripts/bootstrap-datepicker.ko.js"></script>
    <script>
        $(document).ready(function () {

            $("#datetimepicker1").datepicker({
                format: 'yyyy-mm-dd',
                language: 'ko'
            }
			);

			$("#versionUp").click(function () {
                getVersionCombo();
			});
        });
    </script>
}